@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Jost";
}

/* Scroll */
#scrollUp {
  background-color: #1C1C1C;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  bottom: 40px;
  right: 40px;
  z-index: 100000;
  transition: all 0.3s;
}
#scrollUp:hover {
  background-color: #303030;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #525252;
}
/* Header */
.header a {
  text-decoration: none;
}
.header .top {
  padding: 12px 0;
}
.header .happy {
  font-size: 13px;
  font-weight: 500;
}
.header .logo{
  display: block;
  color: #1f1f1f;
}
.nav-item .nav-link {
  color: #1F1F1F;
  font-weight: 500;
}
.nav-item .nav-link:hover {
  color: #ff6f61;
  transition: all 0.2s;
}
.nav-item .nav-link .fa-angle-down::before{
  font-size: 14px;
}
.nav-item .nav-link.dropdown-toggle::after{
  display: none;
}
.nav-item.dropdown .dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: 0;
  margin: 0;
  transform: translate(-20%);
}
.nav-item.dropdown .dropdown-menu .card {
  padding: 32px;
  border-radius: 0;
  border: 1px solid #ddd;
  width: 200px;
}
.nav-item .nav-link:hover + .dropdown-menu {
  display: block;
}
.nav-item.dropdown .dropdown-menu .card .card-body {
  padding: 0;
}
.nav-item.dropdown .dropdown-menu .card .card-body .list-group {
  border-radius: 0;
}
.nav-item.dropdown .dropdown-menu .card .card-body .list-group .list-group-item{
  border: 0;
  padding: 0;
  margin-top: 12px;
}
.nav-item.dropdown .dropdown-menu .card .card-body .list-group .list-group-item:nth-child(1){
  margin: 0;
}
.nav-item.dropdown .dropdown-menu .card .card-body .list-group .list-group-item a{
  font-size: 15px;
  color: #525252;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 16px;
  padding-right: 16px;
}
.navbar-expand-sm .navbar-nav .nav-link.nav-pad{
  padding-left: 8px;
  padding-right: 8px;
}
.navbar-toggler {
  padding: 0;
}
.logo {
  font-size: 28px;
  font-weight: 600;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 600;
}
.mx-8 {
  margin-left: 80px;
  margin-right: 80px;
}
.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
}
.fa-solid{
  margin-left: 5px;
  vertical-align: -1px;
}
#cart::after {
  content: attr(data-cart);
  color: #ffffff;
  position: absolute;
  display: flex;
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6f61;
  justify-content: center;
  align-items: center;
  top: -40%;
  left: 65%;
}
#wishh::after {
  content: attr(data-wish);
  color: #ffffff;
  position: absolute;
  display: flex;
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6f61;
  justify-content: center;
  align-items: center;
  top: -40%;
  left: 65%;
}
@media screen and (max-width: 1200px) {
  .nav-item .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo{
    display: none;
  }
  .navbar-brand {
    display: inline !important;
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 24px;
  }
  .navbar-toggler-icon {
    font-size: 18px;
  }
}

/* End Header */

/* Sec-util */
.sec-util {
  padding: 48px 0;
}
.sec-util .item {
  display: flex;
}
.sec-util .item .left {
  margin-right: 20px;
}
.sec-util .item .left i {
  color: #ff6f61;
}
.sec-util .item .right .title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}
.sec-util .item .right .sub-title{
  font-size: 15px;
  color: #767676;
}
/* End Sec-util */

/* Footer */
.footer {
  background-color: #1F1F1F;
  color: #f5f5f5;
}
.footer .infor {
  padding: 96px 0;
}
.footer .infor .mail {
  font-size: 24px;
  margin-bottom: 32px;
}
.footer .infor input[type="text"] {
  padding: 17px 30px;
  background-color: #303030;
  border: 0;
  color: #ffffff;
}
.footer .infor input[type="text"]:focus {
  border: none;
  outline: 0;
}
.footer .infor button {
  padding: 17px 30px;
  background-color: #636161;
  border: 0;
  color: #ffffff;
}
.footer .infor button:hover {
  background-color: #5e5a5a;

}
.footer .infor ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .infor .name {
  font-size: 28px;
  margin-bottom: 24px;
}
.footer .infor .social .item {
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 5px;
  color: #BABABA;
}
.footer .infor .social .item:hover {
  color: #A6A6A6;
}
.footer .infor .title{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer .infor ul li {
  color: #BABABA;
  cursor: pointer;
  transition: all 0.2s;
}
.footer .infor ul li:hover{
  color: #A6A6A6;
}
.footer .payment {
  padding: 24px 0;
  border-top: 1px solid #303030;
}
.footer .payment p {
  font-size: 13px;
  color: #BABABA;
}

/* End Footer */

/* Modal */
.modal-content{
  border: 0;
  border-radius: 0;
}
.modal .left .image img {
  width: 100%;
}
.modal .left .product-info {
  width: 100%;
  border: 0;
  color: #ffffff;
  font-weight: 500;
  padding: 13px 24px;
  font-size: 15px;
  background-color: #ff6f61;
}
.modal .left .product-info span {
  margin-left: 10px;
}
.modal .right {
  padding: 48px;
}
.form-check-size,
.form-check-wait {
  width: 48px;
  height: 42px;
  border: 1px solid rgb(215, 215, 215);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check-size input[type="radio"],
.form-check-wait input[type="radio"] {
  display: none;
}

.form-check-size:hover {
  cursor: pointer;
}

.form-check-wait:hover {
  cursor: pointer;
}

.form-check-disable {
  color: #a6a6a6 !important;
  text-decoration: line-through;
}
.selected {
  border-bottom: 2px solid black !important;
}

.selected-size {
  border: 1px solid black !important;
}


.modal .right {
  position: relative;
}
.modal .right .btn-close {
  position: absolute;
  top: 3%;
  right: 4%;
}
.modal .right .btn-close:focus {
  box-shadow: none;
}
.modal .right .name {
  font-size: 28px;
  margin-bottom: 12px;
}
.modal .right .price {
  font-size: 24px;
  font-weight: 500;
}
.modal .right .price span {
  font-size: 15px;
  font-weight: 400;
}
.modal .right .color {
  margin-bottom: 3%;
}
.modal .right .color #color {
  font-weight: 500;
}
.modal .right .size #size {
  font-weight: 500;
}
.modal .right .size {
  margin-bottom: 24px;
}
.modal .right .size-list {
  margin-bottom: 24px;
}
.modal .right .button-modal .quantity{
  padding: 14px 72px 14px 24px;
  border: 1px solid #ddd;
}
.modal .right .button-modal .quantity.form-select{
  border-radius: 0;
}
.modal .right .button-modal .quantity.form-select:focus{
  box-shadow: none;
}
.modal .right .button-modal .add-cart {
  padding: 14px 28px;
  border: 0;
  font-weight: 500;
  background-color: #1C1C1C;
  color: #ffffff;
}
.modal .right .button-modal .add-cart span {
  margin-left: 5px;
}
.modal .right .button-modal .wish {
  padding: 14px 28px;
  border: 1px solid #1C1C1C;
  background-color: #ffffff;
  transition: all 0.2s;
}
.modal .right .button-modal .wish:hover {
  background-color: #1C1C1C;
  color: #ffffff;
}
.modal .right .image .rd-img{
  display: none; /* Ẩn nút radio*/
}

.modal .right .image label {
  cursor: pointer;
  width: 70px; 
  height: 70px; 
  background-size: cover; 
  margin-right: 10px;
}

.modal .right .image {
  margin-bottom: 40px;
}
.modal .right .rd-img:checked + label {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 1200px) {
  .modal #quantity {
    padding: 14px 50px 14px 24px;
  }
  .modal #box1, #box2 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  .modal .left {
    padding: 16px;
  }
  .modal .right {
    position: relative;
  }
  .modal .right .btn-close{
    position: absolute;
    top: -89%;
  }
}
/* End Modal */
.offcanvas {
  min-width: 470px;
  overflow-y: scroll;
}
.search .btn-close{
  position: absolute;
  top: 3%;
  right: 6%;
}
.search .btn-close:focus {
  box-shadow: none;
}
.search .offcanvas-header {
  padding: 24px 32px;
  border-bottom: 1px solid #ddd;
}
.search .offcanvas-header .title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.search .offcanva-body{
  padding: 32px;
  border-bottom: 1px solid #ddd;
  flex-grow: 0;
}
.search .offcanva-body .form-select {
  padding: 14px 72px 14px 24px;
  border-radius: 0;
  margin-bottom: 24px;
}
.search .offcanva-body .form-select:focus{
  box-shadow: none;
  border: 1px solid #1C1C1C;
}
.search .offcanva-body .input-group .form-control {
  padding: 14px 24px;
  border-radius: 0;
  border-right: 0;
}
.search .offcanva-body .input-group .form-control:focus{
  box-shadow: none;
  border: 1px solid #1C1C1C;
  border-right: 0;
}
.search .offcanva-body .input-group .form-control:focus + .input-group-append .button-search{
  border: 1px solid #1C1C1C;
  border-left: 0;
}
.search .offcanva-body .input-group .input-group-append button {
  padding: 14px 28px;
  border: 1px solid #ddd;
  border-left: 0;
  background-color: #ffffff;
}
.search .offcanva-footer {
  padding: 32px;
}
.search .offcanva-footer .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.search .offcanva-footer .list .item {
  margin-bottom: 15px;
}
.search .offcanva-footer .list .item img {
  width: 100%;
}
.search .offcanva-footer .list .item .name {
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}
.search .offcanva-footer .list .item .price {
  color: #767676;
  font-weight: 500;
  font-size: 15px;
}
.search .offcanva-footer .view {
  background-color: transparent;
  border: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  color: #1C1C1C;
}
.search .offcanva-footer .view i {
  margin-left: 15px;
  transition: all 0.5s;
}
.search .offcanva-footer .view:hover.view i{
  transform: translateX(5px);
}

/* Wish List */

.wishList .btn-close{
  position: absolute;
  top: 3%;
  right: 6%;
}
.wishList .btn-close:focus {
  box-shadow: none;
}
.wishList .offcanvas-header {
  padding: 24px 32px;
  border-bottom: 1px solid #ddd;
}
.wishList .offcanvas-header .title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.wishList .offcanva-body {
  padding: 32px;
}
.wishList .offcanva-body .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wishList .offcanva-body .list .item {
  margin-bottom: 15px;
}
.wishList .offcanva-body .list .item img {
  width: 100%;
}
.wishList .offcanva-body .list .item .name {
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}
.wishList .offcanva-body .list .item .price {
  color: #767676;
  font-weight: 500;
  font-size: 15px;
}
.wishList .offcanva-body .list .item a{
  text-decoration: none;
  color: #767676;
  font-size: 14px;
}
.wishList .offcanva-body .list .item a i {
  margin-right: 10px;
}
.wishList .offcanva-body .list .item a:hover{
  color: #545252;
}
/* EndWish List */

/* Cart */
.cart .offcanvas-header {
  padding: 24px 32px;
  border-bottom: 1px solid #ddd;
}
.cart .offcanvas-header .title {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
.cart .btn-close{
  position: absolute;
  top: 3%;
  right: 6%;
}
.cart .btn-close:focus {
  box-shadow: none;
}
.cart .offcanva-body{
  padding: 32px;
}
.cart .offcanva-body .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cart .offcanva-body .list .item {
  margin-bottom: 20px;
}
.cart .offcanva-body .list .item img {
  width: 100%;
}
.cart .offcanva-body .list .item .name {
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}
.cart .offcanva-body .list .item .price {
  color: #767676;
  font-weight: 500;
  font-size: 15px;
}
.cart .offcanva-body .list .item .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.cart .offcanva-body .list .item .action .form-select {
  border-radius: 0;
}
.cart .offcanva-body .list .item .action .form-select:focus {
  box-shadow: none;
  border: 1px solid #1C1C1C;
}
.cart .offcanva-body .list .item .action a{
  text-decoration: none;
  color: #767676;
  font-size: 14px;
}
.cart .offcanva-body .list .item .action a i {
  margin-right: 10px;
}
.cart .offcanva-body .list .item .action a:hover{
  color: #545252;
}
.cart .total {
  padding: 24px 32px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #1F1F1F;
  font-weight: 500;
}
.cart .total .title {
  margin: 0;
}
.cart .offcanva-footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.cart .offcanva-footer .button-footer {
  padding: 14px 28px;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
}
.cart .offcanva-footer .button-footer.btn-checkout {
  background-color: #1F1F1F;
  color: #ffffff;
  font-weight: 500;
}
.cart .offcanva-footer .button-footer.btn-view{
  background-color: transparent;
  border: 1px solid #1C1C1C;
  color: #1C1C1C;
  font-weight: 500;
  transition: all 0.2s;
  margin-bottom: 0;
}
.cart .offcanva-footer .button-footer.btn-view:hover{
  background-color: #1C1C1C;
  color: #ffffff;
}
/* End Cart */