.breadcrumb {
  color: #838583;
}

.breadcrumb a {
  text-decoration: none;
  color: #838583;
}

.link-left .list-group {
  background-color: #F5F5F5;
  border: 0px;
}

.link-left .list-group .list-group-item {
  padding: 20px 0px;
  border: 0px;
  border-bottom: 1px solid #E5E5E5 !important;
  border-radius: 0;
}
.list-group-item-action:focus, .list-group-item-action:hover{
  background-color: #FFFFFF;
}

.list-group-item.active {
  background-color: #FFFFFF;
  color: black !important;
  font-weight: 500;
  border-top: 1px solid #E5E5E5 !important;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item i {
  font-size: 11px;
}

/* Card */
p {
  margin: 0px;
}

.card-body {
  padding: 20px !important;
}
.card-body .titleForm {
  text-transform: uppercase;
  font-size: 11px;
}

.card-body .valueForm {
  font-size: 15px;
  font-weight: 500 !important;
}

/* List Item */
.item-list .list-group-item {
  font-size: 15px;
}

.item-list .list-group-item a{
  text-decoration: none;
  font-weight: 500;
}

.item-list .list-group-item {
  border: 0px;
  padding: 32px 0px;
  border-bottom: 1px solid #E5E5E5 !important;
}

.item-list li:last-child {
  border: 0px !important;
}

.price {
  font-weight: 500;
}

/* List order total */

.price-list {
  font-size: 16px;
}

.price-list .list-group .list-group-item {
  border-bottom: 1px solid #E5E5E5 !important;
  font-size: 16px;
}

.price-list .list-group li:last-child {
 border: 0px !important;
 padding-bottom: 0px !important;
}