.breadcrumb {
  color: #838583;
}

.breadcrumb a {
  text-decoration: none;
  color: #838583;
}

.link-left .list-group {
  background-color: #F5F5F5;
  border: 0px;
}

.link-left .list-group .list-group-item {
  padding: 20px 0px;
  border: 0px;
  border-bottom: 1px solid #E5E5E5 !important;
  border-radius: 0;
}
.list-group-item-action:focus, .list-group-item-action:hover{
  background-color: #FFFFFF;
}

.list-group-item.active {
  background-color: #FFFFFF;
  color: black !important;
  font-weight: 500;
  border-top: 1px solid #E5E5E5 !important;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item i {
  font-size: 11px;
}

/* Orders */
.orders-list .card-body {
  padding: 20px !important;
}

.orders-list .card-footer {
  padding: 20px 0px !important;
}

.orders-list .card-body .titleForm {
  text-transform: uppercase;
  font-size: 11px;
}

.orders-list .card-body .valueForm {
  font-size: 15px;
  font-weight: 500 !important;
}

.orders-list p{
  margin: 0px;
}

.box-img {
  background-color: #EEEEEE;
  width: 60px !important;
  height: 60px !important;
  overflow: hidden;
}

.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-img p {
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-content: center;
}

.orders-list .row-button a {
  padding: 14px 28px; 
  border-radius: 0px;
  font-size: 15px;
  font-weight: 500;
}
.list-group-item-action:focus, .list-group-item-action:hover{
  background-color: #ffffff;
}

/* Paginaton */
.page-link {
  border: 0;
  padding: 8px 16px;
  color: #909090;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  transition: all .2s;
  cursor: pointer;
}
.active>.page-link, .page-link.active {
  background-color: #ffffff;
  color: #ff6f61;
  border-bottom: 1px solid #ff6f61;
}
.page-link:hover {
  color: #ff6f61;
  background-color: #ffffff;
}
.page-item:first-child .page-link:hover span i {
  color: #ff6f61;
}
.page-item:last-child .page-link:hover span i {
  color: #ff6f61;
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
  border: 0;
  transition: all .2s;
}
.page-item:first-child .page-link i, .page-item:last-child .page-link i{
  color: #909090;
}
.page-link:focus {
  background-color: #ffffff;
  box-shadow: none;
  color: #ff6f61;
}