.breadcrumb {
  font-size: 14px;
  color: #838583;
}

.breadcrumb a {
  text-decoration: none;
  color: #838583;
}

#productName {
  font-size: 32px;
}

.radio-sneaker {
  width: 80px;
  height: 80px;
  object-fit: cover;
  overflow: hidden;
}

.content .price {
  font-weight: 500;
}
.content .price .price-only {
  color: #A6A6A6;
}
.content .price .old {
  color: #A6A6A6;
  text-decoration: line-through;
}
.content .price .new {
  color: #ff6f61;
}
.img-sneaker {
  width: 100%;
}
.btn-close:focus {
  box-shadow: none;
}
.selected {
  border-bottom: 2px solid black !important;
}

.selected-size {
  border: 1px solid black !important;
}

.radio-sneaker input:hover {
  cursor: pointer;
}

.form-check-size1,
.form-check-wait {
  width: 48px;
  height: 42px;
  border: 1px solid rgb(215, 215, 215);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check-size1 input[type="radio"],
.form-check-wait input[type="radio"] {
  display: none;
}

.form-check-size1:hover {
  cursor: pointer;
}

.form-check-wait:hover {
  cursor: pointer;
}

.form-check-disable {
  color: #a6a6a6 !important;
  text-decoration: line-through;
}

.table-size th,
.table-size td {
  padding: 20px !important;
  border: 1px solid #e3e3e3;
}

.btn-form {
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  height: 100%;
}

.selectQuantity {
  margin: 0px !important;
  border: 1px solid #E5E5E5;
  width: 75%;
}

.selectQuantity:focus {
  border : 1px solid black
}

.btn-form h5 {
  margin: 0 12px;
}

#sizeChart {
  color: black;
}

input[type="text"],
button {
  border-radius: 0px !important;
}

input[type="text"]::placeholder {
  font-size: 15px;
}

/* Share icon form */
.share-icon {
  width: 30px;
  height: 30px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.share-icon a {
  color: #A6A6A6;
}

.share-icon:hover {
  cursor: pointer;
  background-color: #DDDDDD;
}

/* Option thumb */
.box-item {
  width: 120px;
  height: 95px;
}

.box-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-item img:hover {
  cursor: pointer;
}

/* Article 2 desc */
.option-des {
  text-decoration: none;
  color: black;
  margin: 10px 10px 0px 10px;
  padding-bottom: 7px;
}

.active {
  color: #F86C5E;
  border-bottom: 1px solid #F86C5E;
}

.collapse-des .card {
  border: 0px;
}

.collapse-des {
  border-top: 1px solid #e3e3e3;
}

.star {
  font-size: x-large;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid black
}

.form-select:focus {
  box-shadow: none;
}

.form-select option {
  border-radius: 0px;
}

.box-avt {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  background-color: #F5F5F5;
}

.rate-item {
  color: black;
  text-decoration: none;
}

.box-review {
  padding: 0px 40px;
  border: 1px solid #DBDBDB;
}

.fa-star {
  font-size: 15px;
}

.star-review{
  font-size: 23px;
}

.star-review:hover{
  cursor: pointer;
}

.star-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

b {
  font-weight: 500;
}

/* Paginaton */
.page-link {
  border: 0;
  padding: 8px 16px;
  color: #909090;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  transition: all .2s;
  cursor: pointer;
}
.active>.page-link, .page-link.active {
  background-color: #ffffff;
  color: #ff6f61;
  border-bottom: 1px solid #ff6f61;
}
.page-link:hover {
  color: #ff6f61;
  background-color: #ffffff;
}
.page-item:first-child .page-link:hover span i {
  color: #ff6f61;
}
.page-item:last-child .page-link:hover span i {
  color: #ff6f61;
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
  border: 0;
  transition: all .2s;
}
.page-item:first-child .page-link i, .page-item:last-child .page-link i{
  color: #909090;
}
.page-link:focus {
  background-color: #ffffff;
  box-shadow: none;
  color: #ff6f61;
}
@media screen and (max-width: 768px) {
  .star-comment {
    justify-content: start !important;
    margin-bottom: 10px;
  }

  #productName {
    font-size: 28px;
  }
}


#productList .item {
  margin-bottom: 30px;
}
#productList .item .image .sale {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 5px 11px;
  background-color: #1C1C1C;
  color: #ffffff;
  left: 0;
  top: 8%;
}
#productList .item .image{
  cursor: pointer;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#productList .item .action {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: none;
}
#productList .item .action .action-item {
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: all .2s;
}
#productList .item .action .action-item:hover{
  background-color: #ff6f61;
}
#productList .item .action .action-item:hover i {
  color: #ffffff;
}
#productList .item .action .action-item i {
  margin: 0;
}
#productList .item .image:hover .action {
  display: flex;
  justify-content: center;
}
#productList .item .image .image-front{
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}
/* Dùng positon nên ảnh front có thứ tự ưu tiên cao hơn back */
#productList .item .image:hover.image .image-front{
  opacity: 0;
}
#productList .item .image:hover.image .image-back {
  opacity: 1;
}
#productList .item .cate {
  font-size: 14px;
  color: #767676;
  margin-top: 15px;
}
#productList .item .name {
  font-weight: 500;
  margin: 0;
}
#productList .item .price {
  font-weight: 500;
}
#productList .item .price .price-only {
  color: #A6A6A6;
}
#productList .item .price .old {
  color: #A6A6A6;
  text-decoration: line-through;
}
#productList .item .price .new {
  color: #ff6f61;
}