/* Minh Híu đẹp trai dễ thuong :3 team members start */
.team-members {
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
}
.team-members .card {
  background-image: url(../image/background1.jpg);
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.team-members .card .card-img {
  overflow: hidden;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #ddd;
  height: 200px;
}
.team-members .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-members .card-body {
  text-align: center;
}
.team-members .card:hover img:nth-child(1) {
  transform: scale(1.2);
  transition: 0.8s;
}
.team-members .card-img .ribbon {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 5%;
  right: 14%;
}
